@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolling-text-container {
    background-color: transparent;
    overflow: hidden;
}

.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
}

.scrolling-text {
    display: flex;
    color: white;
}

.scrolling-text-item {
    padding: 0 30px;
}

.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}